{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear cuenta nueva</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/icon-32x32.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'website/register_style.css' %}">

  </head>
  <body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">REGISTRARSE</h2>
  
                <form action="{% url 'register' %}" method='POST' name="register" id="register">
                  {% csrf_token %}

  
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Correo eléctronico" aria-label="email" name="email">
                    </div>
  
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario" aria-label="usuario" name="username">
                    </div>
  
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="contraseña" name="password">
                    </div>
  
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Confirmar contraseña" aria-label="contraseña" name="password1">
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                      <label class="form-check-label" for="form2Example3g">
                        Acepto todos los <a href="{% url 'terms' %}" class="text-body"><u>Términos de Servicios</u></a>
                      </label>
                    </div>
    
                    <div class="d-flex justify-content-center">
                      <button type="submit"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit">Crea una cuenta</button>
                    </div>
    
                    <p class="text-center text-muted mt-5 mb-0">¿Ya tienes una cuenta? <a href="{% url 'login' %}"
                        class="fw-bold text-body"><u>¡Inicia sesión aquí!</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </body>
  </html>